{% extends 'accounts/main_user.html' %}
{% block content %}


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Create Order</h5>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.product.label_tag }}
                {{ form.product }}
                {{ form.color.label_tag }}
                {{ form.color }}
                {{ form.fabric.label_tag }}
                {{ form.fabric }}
                <button class="btn btn-primary" type="submit">Place Order</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
