{% extends 'accounts/main_user.html' %}

{% block content %}
{% include 'accounts/progress_bar_indiv.html' %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5><b>Order Details</b></h5>
            <hr>
            <p><b>Order_ID#</b>{{order.id}}</p>
            <p><b>Product:</b> {{ order.product }}</p>
            <p><b>Fabric:</b> {{ order.fabric }}</p>
            <p><b>Color:</b> {{ order.color }}</p>
            <p><b>Category:</b> {{ order.product.category }}</p>
            <p><b>Date Ordered:</b> {{ order.date_created }}</p>
            <p><b>Status:</b> {{ order.status }}</p>
        </div>
    </div>
</div>

{% endblock %}
