<style>
    /* Custom CSS classes for status colors */
    #total-orders{
        background-color: #FF0000; /* Grey (#808080) */

  </style>
  
  <br>
  
  <div class="row">
    <!-- Total Orders -->
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3 status-card-grey" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Rejected Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_orders}}</h3>
                </div>
            </div>
        </div>
    </div>
  

  
    <!-- New Status Cards -->
  

  
  </div>
    