{% extends 'accounts/main.html' %}
{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>My Recent Order</h5>
            <hr>
            <table class="table table-striped">
                <tr>
                    <th>Product</th>
                    <th>Fabric</th>
                    <th>Color</th>
                    <th>Category</th>
                    <th>Date Order</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>{{ latest_order.product }}</td>
                    <td>{{ latest_order.fabric }}</td>
                    <td>{{ latest_order.color }}</td>
                    <td>{{ latest_order.product.category }}</td>
                    <td>{{ latest_order.date_created }}</td>
                    <td>{{ latest_order.status }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md"> 
        <!-- Add any other content or forms you want to display here -->
    </div>
</div>

{% endblock content %}
